<a href="https://colab.research.google.com/github/adenafil/ust_ADE/blob/main/Week_11_ade_nafil_f.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import statsmodels.api as sm
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

n = 4500
pnull = 0.48
phat = 0.65
sm.stats.proportions_ztest(phat * n, n, pnull, alternative = 'larger')

# karena nilai p value kurang dari H0, maka tolak H0

(23.90916877786327, 1.2294951052777303e-126)

In [ ]:
import numpy as np

sdata = np.random.randint(200, 250, 89)
sm.stats.ztest(sdata, value = 80, alternative = "larger")

(91.81602371127609, 0.0)

In [ ]:
sm.stats.ztest(sdata, value = 80, alternative = "larger")

(91.81602371127609, 0.0)

In [ ]:
height = np.array([172, 184, 174, 168, 174, 183, 173, 173, 184, 179, 171, 173, 181, 183, 172, 178, 170, 182, 181, 172, 175, 170, 168, 178, 170, 181, 180, 173, 183, 180, 177, 181, 171, 173, 171, 182, 180, 170, 172, 175, 178, 174, 184, 177, 181, 180, 178, 179, 175, 170, 182, 176, 183, 179, 177])
height

array([172, 184, 174, 168, 174, 183, 173, 173, 184, 179, 171, 173, 181,
       183, 172, 178, 170, 182, 181, 172, 175, 170, 168, 178, 170, 181,
       180, 173, 183, 180, 177, 181, 171, 173, 171, 182, 180, 170, 172,
       175, 178, 174, 184, 177, 181, 180, 178, 179, 175, 170, 182, 176,
       183, 179, 177])

In [ ]:
from scipy.stats import ttest_1samp
import numpy as np


height_average = np.mean(height)
print("Average height is = {0:.3f}".format(height_average))

tset,pval = ttest_1samp(height, 175)

print("P-value = {}".format(pval))

if pval < 0.05:
  print("We are rejecting the null Hypotheis.")
else:
  print("We are accepting the null hypothesis")

Average height is = 176.545
P-value = 0.019403337788027566
We are rejecting the null Hypotheis.

 #TUGAS 1

In [30]:
mu = 8.0 # Suatu perusahaan olahraga telah mengembangkan peralatan olahraga yang diklaim memiliki nilai rata-rata breaking strength 8 kilogram
sigma = 0.5 # dengan standard deviasi 0.5 kg.
n = 50 # Lakukan uji hipotesis klaim tersebut jika diambil 50 random sample
sample_mean = 7.8 # Lakukan uji hipotesis klaim tersebut jika diambil 50 random sample dan ditemukan nilai rata-ratanya adalah 7.8 kg.
alpha = 0.01  # Ditentukan signifikansi level= 1%

In [31]:
np.random.seed(0)
sdata2 = np.random.normal(loc=sample_mean, scale=sigma, size=n)

# Perform the z-test
ztest_stat, p_value = sm.stats.ztest(sdata2, value=mu)

In [32]:
# Output the results
print(f"Z-test statistic: {ztest_stat}")
print(f"P-value: {p_value}")

# Decision making
if p_value < alpha:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

Z-test statistic: -1.6135478546390318
P-value: 0.10662553530009163
Fail to reject the null hypothesis.

#Tugas 2

In [34]:
# Given data
mu = 46.0  # Edison Electronic mengklaim bahwa produk vacuum cleaner yang ditelitinya memiliki pemakaian nilai rata- rata 46 kWh/tahun.
sample_mean = 42.0  # rumah tangga menunjukkan nilai rata-rata 42 kWh/tahun
sample_std = 11.9  # Sample standard deviation
n = 12  # dengan standard deviasi 11.9 kWh/tahun.
alpha = 0.05  # Ditentukan signifikansi level= 5%

# Apakah sample ini cukup representatif menunjukkan
#bahwa nilai rata-rata pemakaian kurang dari 46
#kWh/tahun?

In [35]:

# Simulate the sample data (if necessary, you can use the real data)
np.random.seed(0)
sample_data = np.random.normal(loc=sample_mean, scale=sample_std, size=n)

# Perform the one-sample t-test
t_stat, p_value = ttest_1samp(sample_data, mu, alternative='less')

# Output the results
print(f"T-test statistic: {t_stat}")
print(f"P-value: {p_value}")

# Decision making
if p_value < alpha:
    print("Reject the null hypothesis. The sample data suggests that the average usage is less than 46 kWh/year.")
else:
    print("Fail to reject the null hypothesis. The sample data does not provide enough evidence to suggest that the average usage is less than 46 kWh/year.")

T-test statistic: 1.4811689098724177
P-value: 0.9166857565175561
Fail to reject the null hypothesis. The sample data does not provide enough evidence to suggest that the average usage is less than 46 kWh/year.